table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    border: 20px;
    margin: 50px;
    height: 600px;
    display: block;
    overflow: auto;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 500px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #76a1e2;
    color: white;
  }

  .container{
    margin-top: 20px;
  }
  .search{
    float: right;
    margin-right: 400px;
  }
  .mem-tit{
    align-items: center;
    font-size: x-large;
    font-weight: 500;
    margin-left: 650px;
  }
  .eve-tit{
    align-items: center;
    font-size: x-large;
    font-weight: 500;
    margin-left: 650px;
  }
 